.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  background-color: black;
}
.full_screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding: 0 24px;
}
.body {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .container {
    align-items: center;
    justify-content: center;
  }
  .header {
    width: 500px;
  }
  .body {
    width: 500px;
  }
  .footer {
    width: 500px;
  }
}

.ripple-loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.ripple-loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f5c5be;
  transform: translate(-50%, -50%) scale(0.4);
  animation: rippleWave 1.8s infinite ease-out;
  opacity: 0.8;
}

.ripple-loader span:nth-child(2) {
  animation-delay: 0.4s;
}

.ripple-loader span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes rippleWave {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0.9;
  }
  70% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
