.tab-label {
  cursor: pointer;
  display: inline-block;
  padding: 12px 0;
}

.tab-label.active {
  padding: 12px 0;
  width: fit-content;
}
.tab-label.sub-active {
  width: fit-content;
  padding: 0px !important;
}
.tab-label.sub {
  width: fit-content;
  padding: 0px !important;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.sub-tabs-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 12px;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.tab-box {
  cursor: pointer;
  flex: 1;
  justify-items: center;
  align-items: center;
  border: 1px solid #ffffffb0;
  border-radius: 10px;
}

.tab-box-active {
  cursor: pointer;
  flex: 1;
  justify-items: center;
  align-items: center;
  border: 1px solid #f79e6d;
  border-radius: 10px;
}

.sub-tab-active {
  cursor: pointer;
  justify-items: center;
  align-items: center;
  border: 1px solid #ec8293;
  border-radius: 15px;
  padding: 2px 10px !important;
  background: #d16b7c4d;
}
.sub-tab {
  cursor: pointer;
  justify-items: center;
  align-items: center;
  border: 1px solid #ffffffb0;
  border-radius: 15px;
  padding: 2px 10px !important;
}
.search-box-token {
  flex: 1;
  border: 1px solid #ffffffb0 !important;
  border-radius: 10px;
  align-items: center;
  padding: 9px 16px !important;
}
.search-box-token-input {
  outline: none;
  border: none;
  background: transparent;
  font-family: 'Exo';
  font-size: '16px';
  font-style: 'normal';
  font-weight: 400;
  line-height: '24px';
  cursor: pointer;
  flex: 1;
}
